<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colors - the only app for any work with colors</title>
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/three.css">
</head>
<body>
    <%- include('../includes/navbar')%>
    <main>
        <div class="container" id="blog">
            <header>
                <h1>COLORS BLOG</h1>
            </header>
            <div class="blogs-container">
                
                <% if(locals.blogPosts){%>
                    <% blogPosts.foreach(blog=>{%>
                        <div class="blog">
                            <div class="inblog-container">
                                <div class="blog-title"> <%= blog.title%></div>
                                <div class="blog-date"><%= blog.date%></div>
                            </div>
                            <div class="inblog-container">
                                <div class="blog-description"><%= blog.date%></div>
                                <div class="blog-image"><img class="image" src="<%= blog.imagesrc%>"></img></div>
                            </div>
                        </div>
                    <%})%>
                <%}%>
                <% if(!locals.blogPosts){%> 
                    <h3>Sorry, there are no blog posts to display</h3>
                <%} %>
            </div>
        </div>
    </main>
    <%- include('../includes/footer')%>
</body>
</html>