<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colors - test how your combination of Colors look live</title>
    <link rel="stylesheet" href="css/master.css">
</head>
<body>
    <%- include('../includes/navbar')%>
    <main>
        <div class="container">
            <form action="/livecolorstest" method="POST">
                <select name="keys" id="">
                    <% colorMeanings.forEach(color=>{%>
                        <option><%- color.keys %></option>
                    <%})%>
                </select>
                <input type="submit" value="GENERATE">
            </form>
            <% if(locals.modifiedColor) {%>
                <div> <input type="color" value="<%= modifiedColor %>" onclick="saveColor();" onchange="changeColor();"></div>
                <div class="exmple-box" style="background:white; border: 1px solid black; padding: 10px;">
                    <h4 style="color : black">Generate Header</h4>
                    <p style="color: <%= modifiedColor %>;" class="color-main">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, est! Sunt, dolore earum iusto ullam unde modi, quibusdam laudantium itaque sit esse tempore distinctio consequuntur incidunt recusandae magnam et eum.</p>
                </div>
                <div class="exmple-box" style="background:black;border: 1px solid black; padding: 10px;">
                    <h4 style="color : <%= modifiedColor %>" class="color-main">Generate Header</h4>
                    <p style="color: white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, est! Sunt, dolore earum iusto ullam unde modi, quibusdam laudantium itaque sit esse tempore distinctio consequuntur incidunt recusandae magnam et eum.</p>
                </div>
                <div class="exmple-box bg-main" style="background: <%= modifiedColor %> ;border: 1px solid black; padding: 10px;">
                    <h4 style="color : black">Generate Header</h4>
                    <p style="color: white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, est! Sunt, dolore earum iusto ullam unde modi, quibusdam laudantium itaque sit esse tempore distinctio consequuntur incidunt recusandae magnam et eum.</p>
                </div>
            <% }%>
        </div>
    </main>
    <%- include('../includes/footer')%>
    <script src="js/backend-connect/livecolorstest.js" defer></script>

</body>
</html>