<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Color Palette</title>
    <link rel="stylesheet" href="css/master.css" />
  </head>

  <body>
    <% if(!locals.mainColor){%>
    <div class="main_color_container">
      <form action="/palette" method="POST" class="form_picker">
        <input
          name="mainColor"
          class="main_color color_picker"
          type="color"
          value="#000"
        />
      </form>
      <form action="/palette" method="POST">
        <input id="generate_color" type="submit" value="GENERATE A COLOR" />
      </form>
    </div>
    <%}%>
    <div class="palette_main">
      <% if(locals.mainColor){%>
      <div class="main_color_container">
        <form action="/palette" method="POST" class="form_picker">
          <input
            name="mainColor"
            class="main_color color_picker"
            type="color"
            value="<%= mainColor%>"
          />
        </form>
        <form action="/palette" method="POST">
          <input id="generate_color" type="submit" value="GENERATE A COLOR" />
        </form>
      </div>
      <%}%> <% if(locals.analogus){%>
      <div class="palette" id="analogus">
        <%analogus.forEach(color=>{%>
        <div
          class="palette_color analogus_color"
          style="background: <%= color %>"
        ></div>
        <input type="text" readonly value="<%= color %>" />
        <%}) %>
      </div>
      <%}%> <% if(locals.monochromatic){%>
      <div class="palette" id="analogus">
        <%monochromatic.forEach(color=>{%>
        <div
          class="palette_color analogus_color"
          style="background: <%= color %>"
        ></div>
        <input type="text" readonly value="<%= color %>" />

        <%}) %>
      </div>
      <%}%> <% if(locals.splitcomplement){%>
      <div class="palette" id="splitcomplement">
        <%splitcomplement.forEach(color=>{%>
        <div
          class="palette_color analogus_color"
          style="background: <%= color %>"
        ></div>
        <input type="text" readonly value="<%= color %>" />

        <%}) %>
      </div>
      <%}%> <% if(locals.triad){%>
      <div class="palette" id="triad">
        <%triad.forEach(color=>{%>
        <div
          class="palette_color analogus_color"
          style="background: <%= color %>"
        ></div>
        <input type="text" readonly value="<%= color %>" />

        <%}) %>
      </div>
      <%}%> <% if(locals.tetrad){%>
      <div class="palette" id="tetrad">
        <%tetrad.forEach(color=>{%>
        <div
          class="palette_color analogus_color"
          style="background: <%= color %>"
        ></div>
        <input type="text" readonly value="<%= color %>" />

        <%}) %>
      </div>
      <%}%>
    </div>
    <script src="js/palette.js" defer></script>
  </body>
</html>
